<table class="table table-stiped">
    <tr>
        <th><%= f.label(:name, "Name:") %></th>
        <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <th><%= f.label(:surname, "Surname:") %></th>
        <td><%= f.text_field(:surname) %></td>
    </tr>
    <tr>
        <th><%= f.label(:age, "Age:") %></th>
        <td><%= f.text_field(:age) %></td>
    </tr>
    <tr>
        <th><%= f.label(:height, "Height:") %></th>
        <td><%= f.text_field(:height) %></td>
    </tr>
    <tr>
        <th><%= f.label(:team_id, "Team:") %></th>
        <%= f.collection_check_boxes :team_ids, Team.all, :id, :name do |cb|%>
            <td><%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text}%></td>
        <% end %>
    </tr>
</table>
