<h1 align="center"><%= @player.name + " " + @player.surname %></h1>
  
  <div align="center"><%= image_tag @player.avatar.url(:thumb) %></div> 
  
  <table class="table table-striped">
    <tr>
      <th>Name:</th>
      <td><%= @player.name %></td>
    </tr>
    <tr>
      <th>Surname:</th>
      <td><%= @player.surname %></td>
    </tr>
    <tr>
      <th>Age:</th>
      <td><%= @player.age %></td>
    </tr>
    <tr>
      <th>Height:</th>
      <td><%= @player.height %></td>
    </tr>
    <tr>
      <th>Teams:</th>
      <td>
        <% @player.teams.each do |team| %>
          <%= link_to team.name, team_path(team) %> <% unless team == @player.teams.last %> | <% end %>
        <% end %>
      </td>
    </tr>



  </table>
  <%= link_to "Edit", edit_player_path(@player) %>
  <%= link_to "Delete", player_path(@player), method: :delete %>
  <%= link_to "<< Back", players_path %>
  
